.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 430px;
    max-height: 430px;
    overflow: scroll;
    flex-direction: column-reverse;
    justify-content: flex-start;
    border: 1px solid black;
}

.listItem {
    padding: 0 5px;
}

.listItem p {
    margin: 4px;
    padding: 0px;
}