.taskEditor {
    margin: 10px 0px;
}

.taskEditorLabel {
    margin-right: 10px;
}

.taskEditorInput {
    margin-left: 10px;
}

.taskEditorButton {
    border: 0px;
    background-color: rgb(57, 57, 236);
    color: white;
    border-radius: 4px;
    margin: 0;
    padding: 0px;
    height: 20px;
}