.taskList {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
    padding: 0px;
}

.taskItem {
    margin: 0px 1% 10px 1%;
    width: 31%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    background-color: rgb(238, 237, 237);
}